h1 {
  font-size: 32px;
  font-weight: bold;
}

h3,
h4 {
  padding: 20px 0 0 0;
}

#container {
  width: 95vw;
  height: 60vh;
  margin: 0 auto 30px;
  background-color: whitesmoke;
  outline: 8px solid #4834d4;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #222;
  text-align: center;
  -webkit-box-shadow: 1px 2px 3px grey;
          box-shadow: 1px 2px 3px grey;
  border-radius: 8px;
  color: #222;
  font-size: 2em;
  font-family: arial, sans-serif;
  background-color: #f9d423;
  font-weight: bold;
  cursor: pointer;
}

.item:hover {
  color: #fff;
}

.grid1 {
  display: -ms-grid;
  display: grid;
}

.grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
}

.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px auto;
      grid-template-columns: 200px 200px auto;
}

.grid4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
}

.grid5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr minmax(300px, 1fr);
      grid-template-columns: 1fr 1fr minmax(300px, 1fr);
}

.grid7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 200px);
}

.grid8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid9 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 60px;
}

.grid-11 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 20px;
}

.grid-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-align-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.justify-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  justify-items: center;
}

.place-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  place-items: end center;
}

.align-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  -ms-flex-line-pack: center;
      align-content: center;
}

.justify-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.place-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  place-content: center space-between;
}

.shorthand-01 {
  display: -ms-grid;
  display: grid;
  grid: auto-flow 100px/repeat(3, 1fr);
}
/*# sourceMappingURL=style.css.map */